@page
@model CityBreaks.Web.Pages.CityDetailsModel
@{
	ViewData["Title"] = $"Detalhes de {Model.City?.Name}";
}

<h1>@Model.City?.Name (@Model.City?.Country?.CountryName)</h1>

@if (Model.City?.Properties?.Any() ?? false)
{
    <ul>
        @foreach (var property in Model.City.Properties)
        {
            <li>
                <strong>@property.Name</strong> – R$ @property.PricePerNight
            </li>
        }
    </ul>
}
else
{
    <p>Nenhuma propriedade cadastrada para esta cidade.</p>
}